
@import url('https://fonts.googleapis.com/css?family=Coda|Merriweather|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Wendy+One');

/* font-family: 'Merriweather', serif;
font-family: 'Coda', cursive;
font-family: 'PT Sans', sans-serif; */

body{
	width: 100%;
	background-repeat: repeat;
	align-content: center;
	height: auto;
	position: relative;
}
/*
background {
	opacity: 0.7;
} */

.title h1 {
		font-family: 'Wendy One';
		/* font-size: 45px; */
		font-weight: 400;
		color: #00000;
		text-shadow: 2px 2px #ffff;
		padding: 0px;
		/* margin-top: 15px; */

}

.container{
	width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* #myApp{
	display: flex;
} */

#input-form{
	font-style: Coda;
	column-count: 2;
	font-size: 18px;
	text-align: center;
	padding: 15px;
	margin-bottom: 10px;
}

#output{
		font-style: Coda;
		margin-top: 10px;
		margin-bottom: 20px;
}

input, button {
	  text-align: center;
	  border-radius: 5px;
	  border-width: 1px;
		max-width: 110px;
		max-height: 60px;
	}

	button {
		font-size: 14px;
		padding: 4px;
		margin-left: 2px;
	}

	input{
		float: left;
		padding: 4px;
		font-size: 16px;
	}

	button{
		float: right;
		background:#D3D3D3;
	}

	.card-header{
		max-height: 30px;
		font-size: 18px;
		font-weight: bold;
		padding: 4px;
	}

.card{
	text-align: center;
  max-height: 85px;
  padding: 5px;
	border: solid;
	border-width: 3px;
	border-radius: 15px;
}

#photoFrame{
	align-content: center;
	width: auto;
	height: auto;
	/* min-height: 200px;
	max-width: auto; */
	border-radius: 10px;
}
